@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body {
  background-color: #FFFFE0;
  animation: fadeBackground 3s;
  animation-fill-mode: forwards;
  color: #8B4513;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Comfortaa', sans-serif;
}
b{
  font-family: 'Comfortaa', sans-serif;
  font-size: medium;
}
.exp-header {
  font-size: medium;
  padding: 1.1rem 0;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #8B4513;
  background-color: rgba(0,0,0, 0.1);
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
.exp-description {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
section{
 width:100% 
}
.flex{
  display:flex;
  width:100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items:flex-end;
}
.flex >*{margin: 0 0.5rem}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeBackground {
  from { background-color: #FCE97F; }
  to { background-color: #FFFFE0; }
}
@media only screen and (max-width: 600px) {
  body {
    padding:1rem;
  }
}
